doctype html
html
  head
    meta(charset='utf-8')   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title I'm Maculator
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css')   
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    .container-fluid
      .row
        .col-xs-8.col-xs-offset-2.col-lg-3.col-lg-offset-5.col-md-4.col-md-offset-4
          .row.no-gutter
            .col-xs-12
              #calculator
                #output
                  #display 0
          .row.no-gutter
            .col-xs-3
              #clear AC
            .col-xs-3
              .number#sign &plusmn;
            .col-xs-3
              .number#percent &#37;
            .col-xs-3
              div.operator &#247;
          .row.no-gutter
            .col-xs-3
              div.number 7
            .col-xs-3
              div.number 8
            .col-xs-3
              div.number 9
            .col-xs-3
              div.operator &times;
          .row.no-gutter
            .col-xs-3
              div.number 4
            .col-xs-3
              div.number 5
            .col-xs-3
              div.number 6
            .col-xs-3
              div.operator &#8211;
          .row.no-gutter
            .col-xs-3
              div.number 1
            .col-xs-3
              div.number 2
            .col-xs-3
              div.number 3
            .col-xs-3
              div.operator +
          .row.no-gutter
            .col-xs-6
              div.number#zero 0
            .col-xs-3
              div.number#decimal .
            .col-xs-3
              div.operator#equal = 
        .col-xs-2.col-lg-5.col-md-4

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
